# Configurações do Banco de Dados MySQL
MYSQL_ROOT_PASSWORD=altere_para_uma_senha_forte
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=sua_senha_do_usuario

# Porta de Acesso da Aplicação Web
WORDPRESS_PORT=8080
